.hei {color:#bababa;}
.hei a {color:#bababa;}
.hei a:hover {color:#fff;}
.hei .tc {color:#ff9a24;}
.hei a:hover .tc {color:#ff9a24;}

.hei .Mid {background-color:#242424;}
.hei .Mid_top {background-color:#2c2c2c;}

.hei .Mid0nav {border-bottom:1px solid #393939;}
.hei .Mid0nav a {color:#aaa; border:1px solid transparent;}
.hei .Mid0nav a span {border-right:1px solid #393939;}
.hei .Mid0nav a:hover {color:#f2f2f3; box-shadow:0 0 0 0 rgba(0,0,0,0);}
.hei .Mid0nav a.cur {color:#f3f3f3; background-color:#393939; border:1px solid #393939; box-shadow:0 0 0 0 rgba(0,0,0,0);}

/*通用标题*/
.hei .Midtit .tit.pr_RYHT {background-position:0 -52px;}
.hei .Midtit .tit {color:#ccc;}
.hei .Midtit .more {color:#999;}
.hei .Midtit .more a {color:#777;}
.hei .Midtit .more a:hover {color:#fff;}

/*幻灯片*/
.hei .Slides {background:#151515; border-bottom:1px solid #151515;}
.hei .Slides .Small {border-left:1px solid #151515; border-right:1px solid #151515;}
.hei .Slides .Small .smlfd {background:#2c2c2c;}
/*杂谈趣闻*/
.hei ul.Mid1L_txt li {background:url("http://image.gamersky.com/webimg15/li20.gif") 0 6px no-repeat;}
/*热议话题*/
.hei .pictxt .img a div {background-position:0 -17px;}
.hei .pictxt .con .tit {border-top:1px dotted #444;}
.hei .pictxt .con .tit a {color:#bbb;}
.hei .pictxt .con .tit a:hover {color:#fff;}
.hei .pictxt .con .txt {color:#999;}
.hei .pictxt .con .pd a {background-color:#2a2a2a; border:1px solid #373737; box-shadow:0 44px 44px -5px rgba(0,0,0,0.1);}
.hei .pictxt .con .pd a .num {color:#aaa; border-bottom:1px dotted #444;}
.hei .pictxt .con .pd a.pin1 {color:#ff9b22;}
.hei .pictxt .con .pd a.pin2 {color:#1f9cf6;}
.hei .pictxt .con .pd a.pin1:hover {color:#ff9b22;}
.hei .pictxt .con .pd a.pin2:hover {color:#1f9cf6;}
.hei .pictxt .tag {color:#5e5e5e;}
.hei .pictxt .tag span {color:#888;}
/*游民评测*/
.hei ul.YMPC li.pic {border-bottom:1px solid #000;}
.hei ul.YMPC li.lx0 .con .tit a {color:#bcbcbc;}
.hei ul.YMPC li.lx0 .con .tit a:hover {color:#fff;}
.hei ul.YMPC li.lx0 .con .txt {color:#999;}
.hei ul.YMPC li.lx0 .fenshu {border-left:1px solid #151515;}
.hei ul.YMPC li.lx0 .fenshu .pf.jindu {background-position:0 -22px;} 
.hei ul.YMPC li.lx0 .fenshu .num {color:#ff9a1e;}
/***中间***/
.hei .Mid1Mnav a {color:#999; background:#151515; border-top:2px solid #151515;}
.hei .Mid1Mnav a:hover {color:#f2f2f3;}
.hei .Mid1Mnav a.cur {color:#f3f3f3; background:#242424; border-top:2px solid #e23703;}

.hei ul.bgx {border-bottom:1px solid #111;}

.hei ul.Ptxt li.pic {border-bottom:1px dotted #444;}
.hei ul.Ptxt li.pic .tit a {color:#bbb;}
.hei ul.Ptxt li.pic .tit a:hover {color:#fff;}
.hei ul.Ptxt li.pic .txt {color:#666;}
.hei ul.Ptxt li.li3 div.time {color:#676767;}

.hei .Mid1Mtit .tit {color:#ccc;}
.hei .Mid1Mtit .more a {color:#777;}
.hei .Mid1Mtit .more a:hover {color:#fff;}

/*翻页*/
.hei .Home-Page .page-turn a {background:url("http://image.gamersky.com/webimg15/fy0.gif") no-repeat; box-shadow:0 0 0 0 rgba(0,0,0,0);}
.hei .Home-Page .page-turn a.Pprev {float:left; background-position:0 0;}
.hei .Home-Page .page-turn a.Pnext {float:right; background-position:-50px 0;}
.hei .Home-Page .page-turn a.Pprev:hover {background-position:0 -50px; box-shadow:0 0 0 0 rgba(0,0,0,0);}
.hei .Home-Page .page-turn a.Pnext:hover {background-position:-50px -50px; box-shadow:0 0 0 0 rgba(0,0,0,0);}
.hei .Home-Page .page-turn a.Pprev.cur {background-position:0 -25px;}
.hei .Home-Page .page-turn a.Pnext.cur {background-position:-50px -25px;}
.hei .Home-Page .page-num a {background:#666; box-shadow:2px 3px 3px 0 rgba(0,0,0,0.3) inset;}
.hei .Home-Page .page-num a.cur {background:#e23703;}

/*最新单机游戏下载*/
.hei .Mid1Rtit {width:238px; background:#272727; border-left:1px solid #333; border-bottom:1px solid #111; border-right:1px solid #333;}
.hei .Mid1Rtit div {color:#23a7f9; border-right:0;}
.hei .Mid1Rtit div.name {border-right:1px solid #111;}
.hei .Mid1Rtit div.type {border-right:1px solid #111;}

.hei ul.Mid1R_down {background:#1e1e1e; border:1px dotted #333; border-top:0;}
.hei ul.Mid1R_down li .name {border-bottom:1px dotted #333;}
.hei ul.Mid1R_down li .name a {color:#bbb;}
.hei ul.Mid1R_down li .name a:hover {color:#fff;}
.hei ul.Mid1R_down li .type {color:#666; border-bottom:1px dotted #333;}
.hei ul.Mid1R_down li .time {color:#666; border-bottom:1px dotted #333;}
.hei ul.Mid1R_down li:hover div {color:#fff;}

/*独家专栏*/
.hei .Mid1Rpic {border-bottom:1px solid #333;}
.hei ul.Mid1R_txt {background:#1e1e1e; border-left:1px dotted #333; border-bottom:1px dotted #333; border-right:1px dotted #333;}
.hei ul.Mid1R_txt li.txt .t1 {border-right:1px solid #333;}
.hei ul.Mid1R_txt li.txt a {color:#bbb;}
.hei ul.Mid1R_txt li.txt a:hover {color:#fff;}

/*未来期待大作*/
.hei ul.Mid1R_DZQS li {border-bottom:1px dotted #444;}
.hei ul.Mid1R_DZQS li .con div {color:#999;}
.hei ul.Mid1R_DZQS li .con div.t3 {color:#bbb;}
.hei ul.Mid1R_DZQS li .con div.tag {color:#999;}
.hei ul.Mid1R_DZQS li .con div.tag a {color:#888;}
.hei ul.Mid1R_DZQS li .con div.tag a:hover {color:#fff;}

/*****************第二区********************/
.hei .Mid2 {background:#1e1e1e; box-shadow:0 2px 5px 0 rgba(0,0,0,0.2) inset;}
.hei .Mid2Rnav {border-bottom:1px solid #333;}
.hei .Mid2Rnav a {color:#a9a9a9; background:#151515; border:1px solid #333; border-bottom:0;}
.hei .Mid2Rnav a:hover {color:#f2f2f3;}
.hei .Mid2Rnav a.cur {color:#f2f2f3; background:#1e1e1e; border-bottom:1px solid #1e1e1e;}

.hei .Mtit .tit .tt1 {color:#f2931d;}
.hei .Mtit .tit .tt2 {color:#f2931d;}
.hei .Mtit .tit .tt3 {color:#f2931d;}
.hei .Mtit .like span {color:#444;}
.hei .Mtit .like a {color:#ababab;}
.hei .Mtit .like a:hover {color:#fff;}

.hei ul.Mid3Lpic_txt li {border-top:1px dotted #444;}
.hei ul.Mid3Lpic_txt li .tit a {color:#a9a9a9;}
.hei ul.Mid3Lpic_txt li .tit a:hover {color:#fff;}
.hei ul.Mid3Lpic_txt li .txt {color:#999;}

/*近期上市大作*/
.hei .Mid3Rnav a {color:#a8a8a8; background:#222; border:1px solid #3a3a3a;}
.hei .Mid3Rnav a:hover {color:#ff9b1f;}
.hei ul.Mid3R_JQSS li {border-left:3px solid #111; border-bottom:1px solid #111;}
.hei ul.Mid3R_JQSS li .con {background:url("http://image.gamersky.com/webimg15/pn0.png") no-repeat;}
.hei ul.Mid3R_JQSS li .con .tit {color:#598ea4;}
.hei ul.Mid3R_JQSS li .con .tag {color:#8d8e90; background:#2b2b2b;}
.hei ul.Mid3R_JQSS li .con .tag .tag1 a {color:#8d8e90;}
.hei ul.Mid3R_JQSS li .con .tag .tag1 a:hover {color:#e11d03;}
.hei ul.Mid3R_JQSS li .con .tag .tag3 a.zq {background:url("http://image.gamersky.com/webimg15/zq0.png") right 5px no-repeat;}
.hei ul.Mid3R_JQSS li:hover {border-left:3px solid #de3603;}
.hei ul.Mid3R_JQSS li:hover .con {background-position:0 -108px;}
.hei ul.Mid3R_JQSS li:hover .con .tag {background:#333;}

.hei .Mid3RLnav a {color:#999; border-top:2px solid #242424; border-left:1px solid #242424; border-right:1px solid #242424;}
.hei .Mid3RLnav a:hover {color:#f2f2f3;}
.hei .Mid3RLnav a.cur {color:#f2f2f3; border-top:2px solid #e23703; border-left:1px solid #000; border-right:1px solid #000; border-bottom:2px solid #242424;}

.hei ul.Mid3RLpic_txt li.pic div.tag {color:#666;}
.hei ul.Mid3RLpic_txt li.pic div.tag a {color:#666;}
.hei ul.Mid3RLpic_txt li.pic div.tag a:hover {color:#fff;}
.hei ul.Mid3RLpic_txt li.li3 div.time {color:#666;}

.hei .Mid3RRnav {border:1px solid #333; border-right:0;}
.hei .Mid3RRnav a {color:#666; background:#242424; border-right:1px solid #333;}
.hei .Mid3RRnav a:hover {color:#f2f2f3;}
.hei .Mid3RRnav a.cur {color:#f2f2f3; background:#1e1e1e; border-bottom:1px solid #1e1e1e;}
.hei .Mid3RRtit {background:#1e1e1e; border:1px dotted #333; border-top:0; border-bottom:0;}
.hei .Mid3RRtit div {color:#fe9c1f;}

/*游戏发售表*/
.hei ul.Mid3RR_FSB {background:#1e1e1e; border:1px dotted #333; border-top:0;}
.hei ul.Mid3RR_FSB li .name {border-top:1px dotted #333;}
.hei ul.Mid3RR_FSB li .name a {color:#ababab;}
.hei ul.Mid3RR_FSB li .name a:hover {color:#fff;}
.hei ul.Mid3RR_FSB li .type {color:#666; border-top:1px dotted #333;}
.hei ul.Mid3RR_FSB li .time {color:#666; border-top:1px dotted #333;}
.hei ul.Mid3RR_FSB li:hover  div {color:#fff;}

/*****************第四区********************/
.hei ul.Mid4Lpic_txt li.pic div.tag {color:#666;}
.hei ul.Mid4Lpic_txt li.pic div.tag a {color:#666;}
.hei ul.Mid4Lpic_txt li.pic div.tag a:hover {color:#e11d03;}
.hei ul.Mid4Lpic_txt li.li3 div.time {color:#666;}
.hei ul.Mid4Lpic_txt li.li3 div.txt .tc {color:#bababa;}
.hei ul.Mid4Lpic_txt li.li3 div.txt a:hover .tc {color:#fff;}
/*新游试玩*/
.hei ul.XYQZ li {border-top:1px dotted #444;}
.hei ul.XYQZ li .con .tit a {color:#bbb;}
.hei ul.XYQZ li .con .tit a:hover {color:#fff;}
.hei ul.XYQZ li .con .txt {color:#777;}
.hei ul.XYQZ li .con .txt a {color:#777;}
.hei ul.XYQZ li .con .txt a:hover {color:#fff;}

/*****************第五区********************/
/*动漫专区*/
.hei .Mid5Rnav a {color:#555; background:#111; border:1px solid #111;}
.hei .Mid5Rnav a:hover {color:#fd9b20;}
.hei .Mid5Rnav a.cur {color:#fd9b20; background:#393939; border:1px solid #393939;}
.hei ul.Mid5R_DMZQ {border-top:1px solid #111;}
.hei ul.Mid5R_DMZQ li {border-bottom:1px solid #111;}
.hei ul.Mid5R_DMZQ li .con .tit a {color:#bbb;}
.hei ul.Mid5R_DMZQ li .con .tit a:hover {color:#fff;}
.hei ul.Mid5R_DMZQ li .con .txt {color:#8d8e90;}
.hei ul.Mid5R_DMZQ li .like {border-left:1px dotted #111;}
/*新番更新*/
.hei .MidRnav {border-left:1px solid #333; border-bottom:1px solid #333;}
.hei .MidRnav a {color:#666; background:#151515; border-top:2px solid #333; border-right:1px solid #333;}
.hei .MidRnav a:hover {color:#f2f2f2;}
.hei .MidRnav a.cur {color:#f2f2f2; background:#222; border-top:2px solid #e13703;}
.hei ul.pic_list li {border-bottom:1px dotted #444;}
.hei ul.pic_list li.txt div.t2 {color:#818181;}
.hei ul.pic_list li.img .img_2 div.img2_2 {color:#e11d03;}
.hei ul.pic_list li.img .img_2 div.img2_2 a {color:#e11d03;}
.hei ul.pic_list li.img .img_2 div.img2_3 {color:#999898;}
.hei ul.pic_list li.img .img_2 div.img2_4 a {color:#999898;}
.hei ul.pic_list li.img .img_2 div.img2_4 a:hover {color:#e11d03;}

/*****************手机游戏********************/
.hei .SJgameMnav {border-bottom:1px solid #333;}
.hei .SJgameMnav a {color:#9a9a9a; background:#151515; border:1px solid #333; border-bottom:0;}
.hei .SJgameMnav a:hover {color:#f2f2f3;}
.hei .SJgameMnav a.cur {color:#f2f2f3; background:#242424; border-bottom:1px solid #242424;}

.hei ul.Mid6L_txt li.topline div.mark {color:#ff9a1e; background-position:center -26px;}
.hei ul.Mid6L_txt li.topline div.txt a {color:#bbb;}
.hei ul.Mid6L_txt li.topline div.txt a:hover {color:#fff;}
.hei ul.Mid6L_txt li.li3 div.time {color:#666;}

/*手游排行榜*/
.hei .SJgameRnav a {color:#555; background:#121212; border:1px solid #121212;}
.hei .SJgameRnav a:hover {color:#f2f2f3;}
.hei .SJgameRnav a.cur {color:#f2f2f3; background:#353535; border:1px solid #353535;}
.hei ul.txt_pic {background:#1f1f1f; border-top:1px solid #111;}
.hei ul.txt_pic li {border-bottom:1px dotted #343434;}
.hei ul.txt_pic li.txt div.t1 {color:#878787;}
.hei ul.txt_pic li.img .img_0 {color:#cdcdcd;}
.hei ul.txt_pic li.img .img_2 div.img2_1 a {color:#df881e;}
.hei ul.txt_pic li.img .img_2 div.img2_1 a:hover {color:#fff;}
.hei ul.txt_pic li.img .img_2 div.img2_2 {color:#656565;}
.hei ul.txt_pic li.img .img_2 div.img2_3 a {color:#999; background:#222; border:1px solid #353535;}
.hei ul.txt_pic li.img .img_2 div.img2_3 a:hover {color:#df881e;}
/*热门专区 换一批*/
.hei ul.SJgameRimg li a {background:#1f1f1f;}
.hei ul.SJgameRimg li a:hover {background:#121212;}

/*****************第六区********************/
/* 这段需要删除 开始 */
.hei .Mid6Lnav {border-bottom:1px solid #333;}
.hei .Mid6Lnav a {color:#9a9a9a; background:#151515; border:1px solid #333; border-bottom:0;}
.hei .Mid6Lnav a:hover {color:#f2f2f3;}
.hei .Mid6Lnav a.cur {color:#f2f2f3; background:#242424; border-bottom:1px solid #242424;}
/*手游排行榜*/
.hei .Mid6Rnav a {color:#555; background:#121212; border:1px solid #121212;}
.hei .Mid6Rnav a:hover {color:#f2f2f3;}
.hei .Mid6Rnav a.cur {color:#f2f2f3; background:#353535; border:1px solid #353535;}
/* 这段需要删除 结束 */

/*调查*/
.hei ul.votelist {background:#1f1f1f; border-top:1px solid #111; border-bottom:0;}
.hei ul.votelist li.btn a {color:#999; background:#222; border:1px solid #353535;}
.hei ul.votelist li.btn a:hover {color:#fff;}

/*****************第七区********************/
.hei .Mid7nav {border-bottom:1px solid #333;}
.hei .Mid7nav a {color:#a9a9a9; background:#151515; border:1px solid #333; border-bottom:0;}
.hei .Mid7nav a:hover {color:#f2f2f3;}
.hei .Mid7nav a.cur {color:#f2f2f3; background:#242424; border-bottom:1px solid #242424;}

/*****************第八区********************/
.hei .Mid8 {background:#1e1e1e; box-shadow:0 2px 5px 0 rgba(0,0,0,0.2) inset;}
.hei ul.PH li.con div.t1 {background:#1a1a1a;}




