@charset="UTF-8";
/* Í¨ÓÃÑùÊ½ */
body,div,ul,li,p,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	word-break: break-all;
}
body{
	background: #111;
}
img{
	vertical-align:top;
	border: none medium;
}
ul,ol{
	list-style: none;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.center{
	width: 1100px;
	margin: 0 auto;
}
i{
	font-style: normal;
	color: #666;
}
a{
	text-decoration: none;
	color: #000;
}
/* header */
.header{
	background: url('../images/topbg.jpg');
	height: 220px;
	font-size: 12px;
	border-bottom: 2px solid #9b2602;
}
.top{
	background: #373737;
	height: 36px;
}
.header-left{
	float: left;
	color: #ccc;
	line-height: 36px;
	background: url('../images/qzdh.png') no-repeat left center;
	padding-left: 14px;
}
.header-right{
	float: right;
}
.top-nav li{
	float: left;
	width: 106px;
	text-align: center;
	line-height: 36px;
}
.top-nav a{
	text-decoration: none;
	color: #ccc;
}
.phone-app{
	background: url('../images/phone.png') no-repeat 4px center;
}
.top-nav i{
	color: #595959;
	display: inline-block;
  float: left;
  font-style: normal;
  height: 36px;
  line-height: 36px;
  width: auto;
}
.top-nav .face{
	background: url('../images/people.png') no-repeat left center;
	margin-left: 12px;
	padding-left: 10px;
}
.top-nav .login{
	padding-right: 12px;
}
.header-con{
	border-bottom: 1px solid #111;
  height: 94px;
  margin: 0 auto;
  width: 1100px;
}
.logo{
	height: 50px;
	padding-top: 25px;
	float: left;
}
.top-nav1{
	border-top: 1px solid #444;
  font-family: "Microsoft YaHei";
  height: 62px;
  margin: 0 auto;
  padding-top: 16px;
  width: 1100px;
}
/* .box-1 */
.top-nav1 .box-1{
	display: inline-block;
  float: left;
  height: 48px;
  overflow: visible;
  padding-left: 15px;
  width: auto;
  border-right: 1px solid #666;
  padding-right: 5px;
}
.game li{
	float: left;
	color: #fff;
	height: 48px;
	width: 80px;
	text-align: center;
	line-height: 70px;
}
.djgame{
	position: relative;
}
.game .dj{
	position: absolute;
	right: 36%;
}
/* .box-2 */
.box-2{
	float: left;
  height: 48px;
  overflow: visible;
  padding-left: 30px;
  width: auto;
  border-right: 1px solid #666;
}
.box2-top li,.box2-bottom li{
	float: left;
	width: 70px;
	height: 30px;
}
.box2-top a:hover{
	color: #f00;
	text-decoration: underline;
}
.box2-bottom a:hover{
	color: #f00;
	text-decoration: underline;
}
.box2-top a,.box2-bottom a{
	text-decoration: none;
	color: #ccc;
}
/* .box-3 */
.box-3{
	  border-right: 1px solid #666;
    float: left;
    height: 48px;
    overflow: visible;
    width: auto;
}
.box3-top li,.box3-bottom li{
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
}
.box3-top a,.box3-bottom a{
	text-decoration: none;
	color: #ccc;
}
.vr{
	font-weight: bold;
	position: relative;
}
.n{
	position: absolute;
	right: 12px;
	top: -6px;
}
/* .box-4 */
.box-4{
	float: left;
  height: 48px;
  width: 80px;
  margin-left: 50px;
}
.bai{
	margin-left: 12px;
}
/* contenet */
.mid{
	width: 1100px;
	height: auto;
	margin: 0 auto;
	background: #F2F2F3;
	margin-top: 40px;
	padding: 0 20px 20px;
}
.navs{
	width: 1058px;
}
.games a{
	text-decoration: none;
}
.games{
	width: 1000px;
	height: 33px;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.games li{
	float: left;
  width: 110px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  margin-right: -1px;
  font-weight: bold;
  border-bottom: none;
  border-top: none;
}
.games a{
	color: #000;
	font-size: 14px;
}
.games .wl{
	border-bottom: none;
}
.games a:hover{
	color: red;
}
.games li:hover{
	background: #fff;
}
.nba{
	margin-top: 10px;
	width: 1100px;
}
.nba img{
	margin-left: 10px;
}
/* text */
.text{
	margin-top: 12px;
	text-align: justify;
}
.text a{
  text-decoration: none;
  font-size: 12px;
  color: #000;
}
.text .wangluo{
	font-weight: bold;
}
.text i{
	font-style: normal;
	color: #ccc;
}
.text .heightL{
	color: red;
}
.t-nor{
	margin-top: 0;
}
.t-putong{
	padding-left: 56px;
}
/* search */
.search{
	width: 1100px;
	margin: 20px auto 0;
	height: 42px;
	background: #ccc;
}
.seach-left{
	float: left;
}
.sousuo{
	float: left;
  height: 38px;
  width: 360px;
  line-height: 38px;
  font-size: 12px;
}
.radio{
	height: auto;
  width: 125px;
  float: left;
}
.fd{
	float: left;
}
input.Sinput {
  background-color: #eee;
  border: 0 none;
  height: 32px;
  line-height: 28px;
  padding: 5px;
  width: 168px;
}
input.Sbutton {
	background: url('../images/sub.png') no-repeat;
	border: none;
}
.search .sub{
	margin-left: 14px;
	margin-top: 14px;
	cursor: pointer;
}
.hotsearch{
	float: left;
	font-size: 12px;
  height: 38px;
  line-height: 38px;
  width: 698px;
}
.hot{
	font-weight: bold;
	font-size: 14px;
}
.hotsearch a{
	text-decoration: none;
	color: #000;
	margin-left: 10px;
}
.hotsearch a:hover{
	text-decoration: underline;
	color: #f00;
}
/* ÖÐ¼äÈý¸öºÐ×Ó */
.left-navs{
	width: 387px;
	height: 1100px;
	float: left;
}
.middle-3{
	margin-top: 10px;
}
/* ×ó²àºÐ×Ó */
.all-news{
	width: 387px;
	height: 1100px;
}
.all-news ul li{
	float: left;
	width: 120px;
	height: 32px;
	text-align: center;
	line-height: 32px;
}
.all-news ul li a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
.all-news .tit{
	height: 32px;
	position: relative;
}
.tit ul{
	position: absolute;
	width: 387px;

}
.tit .select{
	background: #fff;
	border: 1px solid #eee;
	border-bottom-color: #fff;
	border-top-color: #fff;
	padding: 0;
	font-weight: bold;
}
.tit li a:hover{
	color: #f00;
}
.mod{
	padding: 10px 10px;
	display: none;

	height: auto;
}
.heightLine{
	display: block;
}
.mod ul{
	font-size: 12px;
	color: #666;
	overflow: hidden;
}
/* µÚÒ»¸ömod */
.h3-red{
	color: #E22200;
	line-height: 28px;
}
.rtt a{
  font-size: 12px;
}
.rtt a:hover{
	text-decoration: underline;
	color: red;
}
.ty{
	text-align: left;
	font-size: 12px;
  margin-top: 10px;
  background: url('../images/square.png') no-repeat left center;
  padding-left: 10px;
  cursor: pointer;
}
.ty span{
	float: right;
	margin-right: 4px;
}
.ty-color{
	color: #C72000;
}
.news-mtp{
	margin-top: 30px;
}
/* µÚ¶þ¸ömod */
.news-hover{
	font-size: 16px;
	font-weight: bold;
}
.news-hover:hover{
	color: #f00;
	text-decoration: underline;
}
.img-news{
	margin-top: 16px;
	height: 80px;
	border-bottom: 1px dotted #999;
}
.bianfu{
	display: inline-block;
	width: 110px;
	height: 60px;
	margin: 6px;
}
.wz-l{
	font-size: 12px;
	color: #999;
}
.bianfu{
	float: left;
}
.mtp-15{
	margin-top: 15px;
}
/* µÚÈý¸ömod */
.zatan{
	font-size: 16px;
	font-family: 'Î¢ÈíÑÅºÚ';
}
.more{
	float: right;
	font-size: 12px;
	color: #999;
	cursor: pointer;
}
.person{
	float: left;
	width: 122px;
	height: 140px;
	cursor: pointer;
}
.person-hover{
	font-size: 12px;
	color: #000;
	padding: 2px;
}
.person-hover:hover{
	color: #f00;
	text-decoration: underline;
}
.movie{
	line-height: 24px;
	font-size: 12px;
	clear: both;
}
.movie a{
	font-size: 14px;
}
.movie a:hover{
	text-decoration: underline;
	color: #f00;
}
.movie span{
	float: right;
	color: #999;
}
.gun{
	width: 170px;
	margin-top: 10px;
}
/* ÖÐ¼äµÄºÐ×Ó */
.center-navs{
	float: left;
	width: 387px;
	height: 1100px;
	margin-left: 25px;
}
.lunbo{
	height: 315px;
}
.quwen{
	height: 20px;
}
.zz{
	float: left;
	font-size: 14px;
}
.xia{
	padding-top: 2px;
	padding-right: 4px;
}
.tuwen{
	height: 140px;
}
.mlf-4{
	margin-left: 8px;
}
.tuwen .p1{
	font-size: 12px;
	line-height: 22px;
}
.p1 .text-left{
	background: url('../images/yjt.png') no-repeat left;
	float: left;
	padding-left: 14px;
}
.p1 .text-right{
	background: url('../images/yjt.png') no-repeat left;
	float: right;
	padding-left: 14px;
}
.hotsay{
	height: 186px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding-bottom: 8px;
}
.hotsay-all{
	padding-top: 8px;
}
.hotsay-right{
	width: 260px;
	height: 120px;
	float: left;
	font-size: 12px;
	padding-left: 12px;
}
.hotsimg{
	float: left;
}
.vip{
	font-size: 16px;
	color: #333;
}
.box-one{
	float: left;
	width: 120px;
	height: 46px;
	border: 1px solid #999;
	border-radius: 5px;
}
.box-one p{
	line-height: 22px;
}
.box-one .num{
	text-align: center;
	border-bottom: 1px dotted #999;
}
.box-one .no{
	text-align: center;
	color: #E23703;
}
.box-one .yes{
	color: #0A83A6;
}
.mrl-4{
	margin-left: 8px;
}
.wangqi{
	font-size: 12px;
	line-height: 30px;
}
.renwei{
	float: right;
	cursor: pointer;
}
.zhongyao{
	padding-right: 20px;
	cursor: pointer;
}
.pingce-img{
	height: 54px;
	font-size: 12px;
}
.fifa{
	float: left;
	padding-top: 20px;
	padding-right: 10px;
}
.pingce-all{
	width: 387px;
	height: 54px;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
.pingce-wz,.l{
	float: left;
}
.pingce-left{
	width: 250px;
	float: left;
	border-right: 1px solid #999;
}
.pingce-right{
	float: left;
	width: 130px;
	height: 54px;
}
.pingce-right img{
	padding-left: 30px;
	padding-top: 20px;
}
.pingce-right p{
	text-align: center;
	font-size: 14px;
	color: #666;
}
/* ÓÒ±ßµÄºÐ×Ó */
.right-navs{
	width: 270px;
	height: 1100px;
	float: left;
	margin-left: 25px;
}
.dj{
	font-size: 16px;
}
.jing{
	width: 270px;
}
.gameName{
	width: 268px;
	height: 268px;
	border: 1px solid #999;
}
.Name-time{
	width: 100%;
	height: 21px;
	background: #EAEAEC;
	font-size: 12px;
	line-height: 21px;
	color: #666;
}
.mc{
	float: left;
	margin-left: 15px;
}
.sj{
	float: right;
	margin-right: 15px;
}
.Game li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	border-top: 1px dotted #999;
}
.Game a{
	color: #262626;
}
.Game a:hover{
	text-decoration: underline;
	color: #f00;
}
.jiangwutang img{
	width: 270px;
}
.zishi{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	background: url('../images/dian.png') no-repeat left center;
	padding-left: 15px;
}
.zishi a:hover{
	text-decoration: underline;
	color: #f00;
}
.zuopin{
	height: 60px;
	border-bottom: 1px dotted #999;
}
.qidai{
	float: left;
	padding: 10px 6px 0 10px;
}
.introduce{
	font-size: 14px;
	line-height: 28px;
	color: #333;
}
.yugao{
	color: #999;
}
.gengduo{
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	color: red;
}
/* ÊÓÆµ¾«Ñ¡ */
.mid-sp{
  background: #262626;
  height: auto;
  margin: 0 auto;
  padding: 0 20px 20px;
  width: 1100px;
}
.sp-left{
	float: left;
	width: 390px;
	height: 310px;
}
.heijt{
	float: left;
	padding-top: 4px;
}
.tit{
	height: 30px;
	width: 390px;
}
.spjx{
	float: left;
	margin-left: 4px;
	color: #fff;
}
.tupians{
	width: 390px;
	height: 270px;
	position: relative;
}
.weiji{
	position: absolute;
	bottom: 0;
	left: 0;
}
.zimuzu{
	margin-left: 6px;
}
.sp-right{
	float: left;
	width: 680px;
	height: 300px;
	margin-left: 24px;
}
.sp-tit{
	height: 27px;
}
.sp-tit li{
	float: left;
	width: 220px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 0 1px;
	background: #fff;
	border-right: 1px solid #999;
}
.sp-tit .active{
	background: #eee;
	border-bottom-color: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0;
	font-weight: bold;
}
.sp-tit li a:hover{
	color: #F00;
}
.sp-con .mods{
	margin: 10px 6px;
	display: none;
}
.sp-con .heightLine{
	display: block;
}
.sp-con .mods li{
	float: left;
	width: 150px;
	height: 128px;
	margin-right: 17px;
}
.sp-con a{
	font-size: 12px;
	color: #fff;
}
.sp-con a:hover{
	text-decoration: underline;
}
/* mid-bottom */
.banner{
	padding-top: 12px;
}
.banner img{
	width: 1076px;
}
.danji-tit{
	float: left;
	width: 270px;
}
.dianwan{
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}
.danji{
	padding-right: 6px;
}
.dianwan a{
	font-size: 12px;
	color: #666;
	padding-right: 10px;
}
.dianwana{
	float: right;
	padding-right: 10px;
}
.dianwan a:hover{
	text-decoration: underline;
	color: #f00;
}
.dj-all{
	width: 100%;
}
.dj-left{
	float: left;
	width: 386px;
}
.redian{
	height: 30px;
	line-height: 30px;
	margin-bottom: 6px;
}
.redian img{
	padding-top: 7px;
	padding-right: 4px;
}
.twnews{
	height: 135px;
	border-bottom: 1px solid #ccc;
}
.tuwenNews{
	height: 72px;
}
.tuwenNews img{
	float: left;
}
.tuwenNews p{
	font-size: 12px;
	width: 230px;
	float: right;
	line-height: 22px;
	color: #666;
}
.twnews-tit{
	font-weight: bold;
}
.dj-right{
	width: 650px;
	height: auto;
	float: right;
}
.djgame-tit{
	float: right;
	padding-top: 6px;
}
.djgame-tit li{
	float: left;
	width: 40px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border: 1px solid #666;
	margin-right: 2px;
	border-radius: 4px;
}
.djgame-tit a{
	font-weight: normal;
	font-size: 12px;
	color: #666;
}
.new-box{
	width: 650px;
	height: 106px;
	border-left: 3px solid #f00;
	padding-left: 3px;
	margin-top: 12px;
}
.new-box:hover{
	background: #fff;
}
.xkfy{
	float: right;
	opacity: 0.8;
	z-index: 9999;
}
.new-box img{
	width: 300px;
	height: 105px;
}
.shaoxia{
	font-size: 14px;
	color: #598EA4;
	font-weight: normal;
	padding-left: 8px;
}
.xiake-tit{
	border-bottom: 1px dotted #666;
	float: left;
	padding-bottom: 3px;
}
.new-box p{
	float: left;
	width: 320px;
	font-size: 12px;
	line-height: 26px;
}
.remen{
	color: #f00;
}
.biaoqian{
	color: #666;
}
.jingcai{
	margin-top: 15px;
}
.jc-tit{
	height: 27px;
}
.jc-tit li{
	float: left;
	width: 150px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 0 1px;
	background: #fff;
	margin-right: 10px;
}
.jc-tit .active{
	background: #eee;
	border-bottom-color: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0;
	font-weight: bold;
}
.jc-con .box-s{
	margin: 10px 6px;
	display: none;
}
.jc-con .heightLine{
	display: block;
}
.jc-con .box-s li{
	float: left;
	width: 150px;
	height: 128px;
	margin-right: 17px;
}
.sgws{
	background: url('../images/dian.png') no-repeat left center;
	padding-left: 10px;
	font-size: 14px;
	line-height: 28px;
}
.r{
	float: right;
}
.sgws-red{
	color: red;
}
